*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Montserrat;
}
 nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh;
     background-color: #2F4F4F;
     font-family:'poppins' ,sans-serif;
     padding-top: opx;
    
 }
 .logo a{
     color:rgb(233, 224, 224);
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size: 18px;
     text-decoration: none;
  

 }


 .logo a:hover{
    
    color: darkorange;
}



 .nav-links{
     display:flex;
     justify-content: space-around;
     width:60%;
     
 }
 .nav-links li{
     list-style: none;
 }
 .nav-links a{
    color:#c9c4c4;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight:bold; 
 }
.fixed-nav-bar{
    position:fixed;
    top:0;
    left:0;
    z-index: 9999;
    width:100%
}

 .burger div{
     width:25px;
     height:3px;
     margin:5px;
     background-color:rgb(233, 224, 224);
     transition: all 0.7s ease;
 }
 


 .burger{
     display:none;
     cursor: pointer;
 }
 @media screen and (max-width:1125px){
     .nav-links{
         width:60%;
     }
}
@media screen and (max-width:836px){
    .nav-links{
        width:80%;
    }
}
 @media screen and (max-width:700px){
    body{
        overflow-x: hidden;
    }

     .nav-links{
        position:absolute;
        background-color:#2F4F4F;
        right:0px;
        height:92vh;
        top:8vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:45%;
        transform:translateX(100%);
        transition:transform 0.5s ease-in;
     }
     .nav-links li{
        opacity:0px;
    }
    .burger{
        display:block;
    }



} 
      .nav-active{
      transform:translateX(0%);
    }
@keyframes navLinkFade{
    from{
     opacity: 0;
     transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
}
.toggle .line1{
transform:rotate(-45deg)  translate(-12px,10px);
}
.toggle .line2{
  opacity:0;  
}
.toggle .line3{
    transform: rotate(45deg);  
}

.nav-links a:hover{
    
    color: darkorange;
}


#about{

    background-color: white;
    padding: 20px 100px 40px;   
    text-align: center;


}

.section-title{
    margin-top: 45px;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;

}



.cards-area{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 60px;
    flex-wrap: wrap;


}

.card{
    display:flex;
    flex-basis: 300px;
    flex-direction: column;
    background-color: rgb(239, 220, 240);
    border-radius: 10px;
    padding: 80px 15px 20px;
    margin-bottom: 35px;
    margin-left: 20px;
}

.card-image{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card-image img{
    display: inline-block;
    height: 80px;
}

.card-title, .card-text{
     text-align: center;
}
.card-title{
    font-size: 30px;
    font-weight: 900;
    margin-bottom:20px;

}

.card-text{
    font-size: 24px;
    height: 150px;

}

.card-btn{
    width: 100%;
    text-align: center;


}

.card-btn button{
    background-color: #2F4F4F;
    padding:5px 10px;
    border-radius: 25px;
    color: rgb(211, 207, 207);
}
.card-btn button{
    margin: 20px auto;

}
.sign-btn {
    
   float: left;
}
.sign-btn2 {
 margin-bottom: 0;
   float: right;
}
.sign-btn button{
    background-color: #2F4F4F;
    padding:5px 10px;
    border-radius: 25px;
    color: rgb(211, 207, 207);
  
}
.sign-btn2 button{
    background-color: #2F4F4F;
    padding:5px 10px;
    border-radius: 25px;
    color: rgb(211, 207, 207);
  
}

a{
    color: rgb(216, 216, 213);
    text-decoration: none;
}


#blogs{

    background-color:#D9D3D3;
    padding: 20px 100px 40px;
    color:black;
    text-align: center;

}

#blogs .cards-area{
    color: black;
}
#blogs .card{
    background-color: white;
    flex-basis: 300px;
}
.footericons .description{
    float:right;
}

.footer{
    padding-left: 90px;
    background: #2F4F4F;
    padding-top: 40px;
    padding-bottom: 60px;

}
.footercontainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 37.5%;
}
.footercontainer .socialicons img{
    width: 40px;
    height: 40px;
}
.footercontainer .socialicons p{
    margin-top: 10%;
    color: #c9c4c4;
}
.footercontainer .location h4{
    color: #c9c4c4;
}
 
/*.............................end of footer...........................*/


