*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:  Montserrat;
}
 nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh;
     background-color: #2F4F4F;
     font-family:'poppins' ,sans-serif;
     padding-top: opx;
    
 }
 .logo a{
     color:rgb(233, 224, 224);
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size: 18px;
     text-decoration: none;
 }

 .logo a:hover{
    
    color: darkorange;
}
 .nav-links{
     display:flex;
     justify-content: space-around;
     width:60%;
     
 }
 .nav-links li{
     list-style: none;
 }
 .nav-links a{
    color:#c9c4c4;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight:bold; 
 }
.fixed-nav-bar{
    position:fixed;
    top:0;
    left:0;
    z-index: 9999;
    width:100%
}

 .burger div{
     width:25px;
     height:3px;
     margin:5px;
     background-color:rgb(233, 224, 224);
     transition: all 0.7s ease;
 }
 
 .burger{
     display:none;
     cursor: pointer;
 }
 @media screen and (max-width:1125px){
     .nav-links{
         width:60%;
     }
}
@media screen and (max-width:836px){
    .nav-links{
        width:80%;
    }
}
 @media screen and (max-width:700px){
    body{
        overflow-x: hidden;
    }
     .nav-links{
        position:absolute;
        background-color:#2F4F4F;
        right:0px;
        height:92vh;
        top:8vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:45%;
        transform:translateX(100%);
        transition:transform 0.5s ease-in;
     }
     .nav-links li{
        opacity:0px;
    }
    .burger{
        display:block;
    }
} 
      .nav-active{
      transform:translateX(0%);
    }
@keyframes navLinkFade{
    from{
     opacity: 0;
     transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
}
.toggle .line1{
transform:rotate(-45deg)  translate(-12px,10px);
}
.toggle .line2{
  opacity:0;  
}
.toggle .line3{
    transform: rotate(45deg);  
}
.nav-links a:hover{
    
    color: darkorange;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #D9D3D3;
}

.contact .content{
    max-width: 800px;
    text-align: center;

}
.contact .content h2{

    font-size: 36px;
    font-weight: 500;
    color: #2F4F4F;

}
.contact .content p{ 
    font-weight: 300;
    color: rgb(22, 21, 21);

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{

width: 50%;
display: flex;
flex-direction: column;
}
.container .contactInfo .box{

position: relative;
padding: 20px 0;
display: flex;
}

.container .contactInfo .box .icon{

min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(22, 21, 21);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #141414;

}
.contactForm{

width: 40%;
padding: 40px;
background: #fff;
}

.contactForm h2{

font-size: 30px;
color:rgb(24, 23, 23);
font-weight: 500;
}

.contactForm .inputBox{
     position: relative;
     width: 100%;
     margin-top: 10px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea{

    width: 100;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
      resize: none;

}
.contactForm .inputBox span{

position: absolute;
left:0; 
padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(20, 19, 19);
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{

    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.contactForm .inputBox input[type="submit"]{

width: 100px;
background: #2F4F4F;
color:rgb(207, 205, 205);
border:none;
cursor:pointer;
padding: 10px;
font-size: 18px;
}

@media (max-width: 991px)
{
 .contact{
     padding:50px;
 }
 .container{

    flex-direction: column;

 }
 .container .contactInfo{

    margin-bottom: 40px;

 }
 .container .contactInfo,
 .contactForm {
     width: 100%;
 }

}
    .footericons .description{
        float:right;
    }
    
    .footer{
        padding-left: 90px;
        background: #2F4F4F;
        padding-top: 40px;
        padding-bottom: 60px;
    
    }
    .footercontainer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-left: 37.5%;
    }
    .footercontainer .socialicons img{
        width: 40px;
        height: 40px;
    }
    .footercontainer .socialicons p{
        margin-top: 10%;
        color: #c9c4c4;
    }
    .footercontainer .location h4{
        color: #c9c4c4;
    }
    /*.............................end of footer...........................*/